@font-face {
    font-family: 'Titillium Regular';
    src: url('../fonts/Titillium_web/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
html {
// font-size responsive
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { font-size: 0.875rem; }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { font-size: 0.9375rem; }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { font-size: 1rem; }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { font-size: 1rem; }
}

/* basics **********************************************/


body {
    font-family: 'Titillium Regular', Arial, sans-serif;
    //background-color:#f5f5f5;
  }
  
  .border-top {
      border-top: 1px solid #e9ecef!important;
  }
  .border-bottom {
      border-bottom: 1px solid #e9ecef!important;
  }
  .border-left {
      border-left: 1px solid #e9ecef!important;
  }
  .border-right {
      border-right: 1px solid #e9ecef!important;
  }