/* layout ************************************/

.wrapper {
    display: grid;
    /*grid-gap: 0.5em;*/
    grid-template-columns: 280px 1fr;
    grid-template-rows: 64px 1fr 64px;
    grid-template-areas: "aside header" "aside main" "aside footer";
    color: #333;
    header {
      grid-area: header;
    }
    aside {
      grid-area: aside;
    }
    main {
      grid-area: main;
      min-height: 100vh;
    }
    footer {
      grid-area: footer;
    }
  }

 /* Sidebar ********************************/

/*aside {
    //background-color: #2d3446;
  }
  .menu-label {
    display: flex;
    min-height: 3.25rem;
    justify-content: center;
    align-items: center;
    //background-color: #2c2e3e;
  }
  .menu-list {
    a {
      //color: rgba(255, 255, 255, 0.67);
      padding: 0.5rem 1.825rem;
  
      &:hover {
        //background-color: #282a3c;
        //color: rgba(255, 255, 255, 0.67);
      }
    }
    i {
      //color: #525672;
      
    }
  }*/