/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 janv. 2018, 09:19:38
    Author     : e.delanoy@gmail.com
*/



.navbar-menu {
    .dropdown {
        display: inline-block;
        margin-left: 1rem;
        a {
            text-decoration: none;
            color:#72777a;
            display: inline-block;
        }
        &> a {
            text-decoration: none;
            color:#72777a;
            font-size:1.25rem;
            display: inline-block;
            /*width: 1.57rem;*/
            padding: 0.25rem 0.5rem;
            i{

            }
        }
        .badge {
            border-radius: 50%;
            position: absolute;
            right: 0;
        }
    }
    .dropdown-menu {
        /*min-width: 150px !important;
        width: 100%;*/
        left: auto;
        right: 0;
        padding: 0;
        margin: 0;
        
    }
    .nav-right {
        width: 100%;
    }
}

.dropdown-toggle::after {
    display: none;
}

.bg-navbar {
    background:linear-gradient(135deg, #ffbff2 0%,#89b2f7 100%);
}