/* Login page *******************************************/

.loginpage {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    &#signin-form {
      display: grid;
    }
    &#signup-form {
      display: none;
    }
  }
  
  .loginpage-image {
    background-image: url('../images/signinPage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .loginpage-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    label {
      margin-bottom: 1.125rem;
    }
    input {
      margin-bottom: 1.125rem;
    }
    .title-form {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 4rem;
    }
    .wrapper-form {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .field {
      .is-grouped {
        justify-content: space-between;
        
      }
    }
  }