{# Template formulaire creation user en admin #}

<div class="modal fade" id="userCreate" tabindex="-1" role="dialog" aria-labelledby="userCreateLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userCreateLabel">Création d'un utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{{path('admin-create-user')}}">
            <div class="modal-body">
                    <div class="row">        
                        <div class="col-2">
                            <div class="form-group">
                                <label>Id</label>
                                <input type="text" class="form-control" disabled="" id="user_id" name="user_id"  value="">
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email professionnel</label>
                                <input type="email" class="form-control" id="user_email" name="user_email"  value="">
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Prénom</label>
                                <input type="text" class="form-control" id="user_firstname" name="user_firstname"  value="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Nom</label>
                                <input type="text" class="form-control" id="user_lastname" name="user_lastname" value="">
                            </div>
                        </div>
                    </div>   

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Role</label>
                                <select class="form-control" id="role_id" name="role_id">
                                    <option value=""></option>
                                    <option value="1">ROLE_ADMIN</option>
                                    <option value="2">ROLE_USER</option>
                                    <option value="3">ROLE_MANAGER</option>                                    
                                </select>                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" id="user_status" name="user_status">
                                    <option value=""></option>
                                    <option value="1">Actif</option>
                                    <option value="0">Inactif</option>
                                                                    
                                </select>                                
                            </div>
                        </div>        
                    </div>                    
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
                </form>
        </div>
    </div>
</div>