{# template pour la gestion des utilisateurs #}
{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
{% endblock %}

{% block content %}

    {% if user.role_name == 'ROLE_ADMIN' %}
        
        <style>
           div.dataTables_wrapper div.dataTables_paginate ul.pagination { justify-content: flex-start;}
           div.dataTables_wrapper div.dataTables_filter {text-align: left;}
        </style>
        <h1>Gestion des utilisateurs</h1>        
        <button type="button" class="btn btn-primary my-4" data-toggle="modal" data-target="#userCreate">Création d'un utilisateur</button>
        {% include 'component/flash.html.twig' %}
        <h2 class="mb-4">Liste des utilisateurs</h2>
        <table id="tableUsers" class="table table-hover dataTable">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Statut</th>
                    <th class="text-center" scope="col" width="100px">MAJ</th>      
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                    <tr>
                        <th scope="row">{{u.id}}</th>
                        <td>{{u.lastname}}</td>
                        <td>{{u.firstname}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.role_name}}</td>
                        <td>{{u.status == 1 ? 'Actif' : 'Inactif'}}</td>
                        <td width="100px" class="d-flex justify-content-around align-items-center"></a><button type="button" data-id="{{u.id}}" class="btn btn-primary btn-sm userMaj" data-toggle="modal" data-target="#userMaj"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></td>                    
                    </tr>
                {% endfor %}                
            </tbody>
        </table>
            
        {# récupération de l'utilisateur pour Création #}
        {% include 'admin/admin-user-create.html.twig' %}       

        {# récupération de l'utilisateur pour MAJ #}
        {% include 'admin/admin-user-update.html.twig' %}

        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>
        <script>$(document).ready(function () {
                $('.userMaj').click(function (e) {
                    e.preventDefault();
                    //console.log('cliqué');
                    //console.log($(this).attr('data-id'));
                    var id = $(this).attr('data-id');
                    //console.log(id);

                    $.ajax({
                        method: "GET",
                        dataType: "json",
                        url: "/admin/user/" + id
                    })
                    .done(function (data) {
                        console.log(data.user_id);
                        var actionPath = "/admin/user/update/"+ data.user_id;
                        $('form#update #user_id').val(data.user_id);
                        $('form#update #user_email').val(data.user_email);
                        $('form#update #user_firstname').val(data.user_firstname);
                        $('form#update #user_lastname').val(data.user_lastname);
                        $('form#update #user_status').val(data.user_status);
                        $('form#update #role_id').val(data.role_id);
                        $('form#update').attr('action',actionPath);
                    })
                    .fail(function (request, error) {
                        console.log('failed' + error);
                    });
                            
                });
                $('#tableUsers').DataTable({
                    retrieve: true,
                    //paging: false,
                    "language": {
                        "sProcessing": "Traitement en cours...",
                        "sSearch": "Rechercher&nbsp;:",
                        "sLengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
                        "sInfo": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                        "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                        "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                        "sInfoPostFix": "",
                        "sLoadingRecords": "Chargement en cours...",
                        "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                        "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
                        "oPaginate": {
                            "sFirst": "Premier",
                            "sPrevious": "Pr&eacute;c&eacute;dent",
                            "sNext": "Suivant",
                            "sLast": "Dernier"
                        },
                        "oAria": {
                            "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                            "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                        }
                    }
                });
            });
        </script>

    {% else %}
        Page 404
    {% endif %}
{% endblock %}