{# empty Twig template #}

{% extends 'base.html.twig' %}

{% block content %}   
    {#{dump(user.id)}}
    {{dump(sidebarLinks)}#}
    <div class=""> 
        
    <div class="stat">
    {% block stat %}
    {% endblock stat %}
    </div>
    <div class="todo-list">    
    {% block todo %}
    {% endblock todo %}
    </div>
    <div class="mini-chat">
    {% block chat %}
    {% endblock chat %}
    </div>
    </div>
{% endblock content %}