{# empty Twig template #}
{% extends "base-login.html.twig" %}

{% block content %}
    <style>
        .wrapper-form {
            height: 100vh;
            color: #fff;
        }
        .wrapper-form .bg-info{
            background-color: #6ca2ab!important;
        }
        .wrapper-form .forgot > a {
            color: #234263!important; /*#4040b3*/
        }
        .wrapper-form .forgot > a:hover {
            color: #4040b3!important; /*#234263#4040b3*/
        }
    </style>
    <div class="container">
        <div class="row wrapper-form align-items-center">
            <div class="col col-md-4 mx-auto ">
                <div class="p-4 bg-info">
                <p class="h3 text-center font-weight-bold text-uppercase">Accès Admin</p>

                <form action="/admin/login" method="post" autocomplete="off">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="user_email" placeholder="Email">

                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" class="form-control" id="password" name="user_password" placeholder="Password">                
                    </div>
                    <p class="forgot text-right"><a href="/forgot">Mot de passe oublié?</a></p>
                    <button class="btn btn-dark btn-lg btn-block" type="submit" />Valider</button>

                </form>
                </div>
                <div class="mt-4">
                {% include 'component/flash.html.twig'%}
            </div>
            </div>            
        </div>        
    </div>
{% endblock content %}

{% block footer %}
{% endblock %}