{# empty Twig template #}

{% extends 'base.html.twig' %}

{% block content %}
    {#{ dump(database) }#}
    <div class="container-fluid mt-4">
        <p class="h1 mb-4">Gestion de la base de données</p>
        {% include 'component/database-size.html.twig' %}
        
        {% include 'component/database-count-rows.html.twig' %}
        <p class="h2 mb-4">Sauvegarde périodique</p>
        <p>Mise en place d'une tache cron pour programmation</p>
        <a class="btn btn-primary" href="/admin/database/backup">sauvegarder la base de données à la demande</a>
    </div>
{% endblock %}