{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block content %}

    <p class="h1 my-3">Gestion des services</p>
    <div class="row">
        <form class="col-md-8" method="POST" action="/rh/service/create">
            <div class="form-group">
                <label for="serv_name" class="font-weight-bold">Créer un label</label>
                <input type="text" class="form-control" id="serv_name" name="serv_name" >            
            </div>
            <div class="form-group text-right">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group mt-3">
                <li class="list-group-item active font-weight-bold">Listes des services</li>
                    {% for s in services %}
                    <li class="list-group-item d-flex justify-content-between list-group-item-action">
                        <div>{{s.serv_name}}</div>
                        <div>
                            <a class="toUpdate btn btn-success btn-sm" href="" data-name="{{s.serv_name}}" data-id="{{s.serv_id}}" data-toggle="modal" data-target="#toUpdate">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a class="toDelete btn btn-danger btn-sm" href="" data-name="{{s.serv_name}}" data-id="{{s.serv_id}}" data-toggle="modal" data-target="#toDelete">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {# modal de confirmation de suppression #}
    <div class="modal" id="toUpdate" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="formUpdate col" method="POST" action="">
                        <div class="form-group">
                            <label for="serv_name" class="font-weight-bold">Modification du label</label>
                            <input type="text" class="form-control" id="serv_name" name="serv_name" >            
                        </div>                        
                    </form>
                    </div>                
                <div class="modal-footer justify-content-center">
                    <button type="button" id="update" class="btn btn-success">Mettre à jour</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {# modale de mise à jour #}
    <div class="modal" id="toDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Le service&nbsp;<span class="font-weight-bold"></span>&nbsp;est à supprimer?</h5>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" id="confirmDelete" class="btn btn-danger">Confirmer la suppression</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        $(document).ready(function () {
            // Upate
            $(".toUpdate").click(function(e){
                e.preventDefault();
                
                console.log("clicke");
                var serv_id = $(this).attr('data-id');
                var serv_name = $(this).attr('data-name');
                $(".formUpdate #serv_name").val(serv_name);                
                console.log(serv_name);
                $("#update").click(function(e){
                    e.preventDefault();
                    
                    var serv_name = $(".formUpdate #serv_name").val();
                    console.log(serv_name);
                    
                    $.ajax({
                    url: '/rh/service/update',
                    data: 'serv_id=' + serv_id + '&serv_name=' + serv_name,
                    type: "POST"

                })
                .done(function (data) {
                    console.log('suppression success');
                    $("#toUpdate").modal("hide");
                    location.reload();
                    $('#serv_name').focus();
                })
                .fail(function (request, error) {
                    console.log('failed' + error);
                });
                    
                });
                
                
                
                
            });
            // Confirm Delete
            // Modal
            $(".toDelete").click(function(e){
                e.preventDefault();
                
                console.log("clické");
                var serv_id = $(this).attr('data-id');
                var serv_name = $(this).attr('data-name');
                $("#toDelete .modal-body span").html(serv_name);
            
                // Delete
                $("#confirmDelete").click(function(e){
                    e.preventDefault();
                    console.log("clickzé");

                $.ajax({
                    url: '/rh/service/delete',
                    data: 'serv_id=' + serv_id,
                    type: "POST"

                })
                .done(function (data) {
                    console.log('suppression success');
                    $("#toDelete").modal("hide");
                    location.reload();
                    $('#serv_name').focus();
                })
                .fail(function (request, error) {
                    console.log('failed' + error);
                });

                });
            
            });    
    
    });
        
        
    </script>

{% endblock %}