{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
    {% include 'layout/head.html.twig' %}
    </head>
    <body>        
        <div class="">
            {% block content %}
            {% endblock %}
        </div>        
        {# inclure les scripts utilisés #}
        {% include 'layout/bottom-js.html.twig' %}
    </body>
</html>
