{% set user = app.session.get('user') %}

<!DOCTYPE html>
<html>    
    <head>
        {% block head %}    
            {% include 'layout/head.html.twig' %}
        {% endblock head %}        
        
    </head>
    {% if user is null %}
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="alert alert-warning" role="alert">
            <p class="h3">OUPS!! Vous n'êtes pas autorisé à voir cette page!!</p>
            <p class="h3">Veuillez vous <a class="pl-3" href="/login">connecter.</a></p>
        </div>
    </div>
{% else %}
{% set userId = {'userId' : user.id } %}    
    {% if user.role_name is defined %}
        {% if user.role_name == 'ROLE_USER' or user.role_name == 'ROLE_ADMIN' or user.role_name == 'ROLE_MANAGER' %}    
            <body class="wrapper">
                {% include 'layout/header.html.twig' with userId %}
                <aside class="sidebar-primary">
                    {% include 'layout/sidebar-menu.html.twig' with userId %}
                </aside>
                
                <main class="">
                    {% block content %}
                    {% endblock %}
                </main>
                <footer>        
                    {% include 'layout/footer.html.twig' with userId %}        
                </footer>
                {% block script %}
                    {% include 'layout/bottom-js.html.twig' %}
                {% endblock script %}
                <script>
                    $('#sideMin').click(function(e){
                        e.preventDefault();
                        console.log('clicquer');
                        $('#sideMin').addClass("d-none");
                        $('#sideMax').removeClass("d-none");
                        $('.sidebar .espace').css("display" , "none");
                        $('.imgLogo').css({"width": "40px", "margin-top": "8px"});
                        $('.logo').css("min-height", "64px");
                        $('.sidebar-link .title').css("display" , "none");
                        $('.wrapper').css("grid-template-columns" , "56px 1fr");                        
                        
                    });
                    $('#sideMax').click(function(e){
                        e.preventDefault();
                        console.log('clicquer');
                        $('#sideMax').addClass("d-none");
                        $('#sideMin').removeClass("d-none");
                        $('.sidebar .espace').css("display" , "block");
                        $('.imgLogo').css({"width": "56px", "margin-top": "0"});
                        $('.logo').css("min-height", "64px");
                        $('.sidebar-link .espace').css("display" , "block");
                        $('.sidebar-link .title').css("display" , "inline-block");
                        $('.wrapper').css("grid-template-columns" , "280px 1fr");
                        
                    });                    
                    
                </script>
            </body>
        {% else %}
            <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="alert alert-warning" role="alert">
                <p class="h3">OUPS!! Vous n'êtes pas autorisé à voir cette page!!</p>
                <p class="h3">Veuillez vous connecter. <a class="pl-3" href="/login">Je me connecte</a></p>
            </div>
        </div>
        {% endif %}
    {% else %}
        <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="alert alert-warning" role="alert">
                <p class="h3">OUPS!! Vous n'êtes pas autorisé à voir cette page!!</p>
                <p class="h3">Veuillez vous <a class="pl-3" href="/login">connecter.</a></p>
            </div>
        </div>
    {% endif %}
</html>
{% endif %}
