{# Template login #}
{% extends "base-login.html.twig" %}

{% set data = {
    'title' : 'Dashboard',
    'message' : 'The Best App in the World',
    'titleForm' :'Sign Up',
    'desc' : 'Veuillez entrer vos identifiants'    
} %}

{% block content %}    
    <div class="loginpage" id="login-form">
        <div class="loginpage-image">        
        </div>
        <div class="loginpage-form">
            <div class="title-form">
                <p class="h1">{{data.title}}</p>
                <p class="h3">{{data.message}}</p>
            </div>            
            
            <div class="wrapper-form">
                <p class="h2 text-center text-bold">{{data.titleForm}}</p>
                <p class="h4 text-center text-bold mb-4">{{data.desc}}</p>
                {% include 'component/flash.html.twig'%}         
                <form class="" method="POST" action="{{ path('loginUser')}}">
                    <div class="form-group">
                        <label class="text-normal text-dark">Email</label>
                        <input type="email" name="user_email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label class="text-normal text-dark">Password</label>
                        <input type="password" name="user_password" class="form-control" placeholder="Password">
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="form-check m-0">
                            <input type="checkbox" id="remember_me" name="user_remember_me" class="m-0">
                            <label for="remember_me" class="m-0">
                                Remember me
                            </label>
                        </div>
                        <button type="submit" class="btn btn-primary">{{data.titleForm}}</button>
                    </div>
                </form>
                <a class="text-center mt-4" id="login" href="{{path('register')}}">Vous ne possedez pas de compte</a>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
{% endblock %}