{# component template #}
<p class="h2 mb-4">Taille des tables</p>
<div class="row">

    {% for d in database %}
        <div class="col-sm-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-title h5 font-weight-bold">{{d.name}}</p>
                    <div class="card-text d-flex ">
                        <i class="fa fa-database fa-2x" aria-hidden="true"></i>
                        <p class="h3 ml-4">{{ d.size}}</p>
                    </div>        
                </div>
            </div>
        </div>
    {% endfor %}
</div>