{# template component display training  #}
{% set training = [{'date': '12/05/2017', 'titled' : 'Perfectionnement excel', 'org' : 'Microsoft' , 'location' : 'Paris', 'certif' : '#'},
{'date': '12/05/2017', 'titled' : 'Perfectionnement excel', 'org' : 'Microsoft' , 'location' : 'Paris', 'certif' : '#'},
{'date': '12/05/2017', 'titled' : 'Perfectionnement excel', 'org' : 'Microsoft' , 'location' : 'Paris', 'certif' : '#'}] %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Date de formation</th>
            <th scope="col">Intitulé de formation</th>
            <th scope="col">Organisme</th>
            <th scope="col">Lieu</th>
            <th scope="col">Attestation</th>
        </tr>
    </thead>
    <tbody>
        {% for f in training %}
            <tr>
                <th scope="row">{{f.date}}</th>
                <td>{{f.titled}}</td>
                <td>{{f.org}}</td>
                <td>{{f.location}}</td>
                <td><a href="{{f.certif}}"><i class="fa fa-file"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
