{# Template component for display u profile #}
{% if userData is defined %}
    {% set u = userData %}
{% else %}
    {% set u = user %}
{% endif %}
<div class="header mb-3">

    {% if user.role_name == 'ROLE_MANAGER' %}
        {% if pageUser is defined %}
            <a href="/rh/users" class="btn btn-success userUpdate"><i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i>Mise à jour du profil</a>
        {% else %}   
            <button type="button" class="btn btn-success userUpdate"data-toggle="modal" data-id="{{u.id}}" data-target="#userUpdate"><i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i>Mise à jour du profil</button>   
        {% endif %}
    {% else %}
        <p class="h4">Edition du Profil</p>
        <button type="button" class="btn btn-secondary">Envoyer une demande de mise à jour</button>
    {% endif %}
</div>
<div class="row">
    <div class="col-12">

        <p class=""><strong>Société:</strong> {{siteTitle}}</p>

        <p class=""><strong>Email professionnel:</strong> {{u.email}}</p>

        <p class=""><strong>Téléphone professionnel:</strong> {{u.phone? u.phone : 'NR'}}</p>

        <p class=""><strong>Civilité:</strong> {{u.civility? u.civility : 'NR'}}</p>

        <p class=""><strong>Nom:</strong> {{u.lastname ? u.lastname : 'NR'}}</p>

        <p class=""><strong>Prénom:</strong> {{u.firstname ? u.firstname : 'NR'}}</p>

        <p class=""><strong>Date de naissance:</strong> {{u.birthdate? u.birthdate| date('d-m-Y') : 'NR' }}</p>

        <p class=""><strong>Email personnel:</strong> {{u.emailPerso? u.emailPerso : 'NR'}}</p>

        <p class=""><strong>Téléphone personnel:</strong> {{u.phone_perso? u.phone_perso : 'NR'}}</p>

        <p class=""><strong>Adresse:</strong> {{u.adress? u.adress : 'NR'}}</p>
        <p class=""><strong>Code Postal:</strong> {{u.postal? u.postal : 'NR'}}</p>        
        <p class=""><strong>Ville:</strong> {{u.city? u.city : 'NR'}}</p>        
        <p class=""><strong>Pays:</strong> {{u.country? u.country : 'NR'}}</p>



        <p class=""><strong>Role:</strong> {{u.role_name? u.role_name : 'NR'}}</p>
        <p class=""><strong>Statut:</strong> {{u.status? 'Actif' : 'Inactif'}}</p>

    </div>
</div>
