{# Template component for display user profile #}
<div class="header mb-3">
    <p class="h4">Edition du Profil</p>
    <button type="button" class="btn btn-secondary">Envoyer une demande de mise à jour</button>
</div>
<div class="row">
    <div class="col-6">
        <div class="alert border ">
            <p class="m0"><strong>Société:</strong> {{siteTitle}}</p>
        </div>
    </div>

    <div class="col-6">
        <div class="alert border ">
            <p class="m0"><strong>Email professionnel:</strong> {{user.email}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="alert border ">
            <p class="m0"><strong>Nom:</strong> {{user.lastname ? user.lastname : 'NR'}}</p>
        </div>
    </div>

    <div class="col-6">
        <div class="alert border ">
            <p class="m0"><strong>Prénom:</strong> {{user.firstname ? user.firstname : 'NR'}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="alert border ">
            <p class="m0"><strong>Civilité:</strong> {{user.civility? user.civility : 'NR'}}</p>
        </div>
    </div>
    <div class="col-3">
        <div class="alert border ">
            <p class="m0"><strong>Date de naissance:</strong> {{user.birthdate? user.birthdate : 'NR'}}</p>
        </div>
    </div>

    <div class="col-6">
        <div class="alert border ">
            <p class="m0"><strong>Email personnel:</strong> {{user.emailPerso? user.emailPerso : 'NR'}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="alert border ">
            <p class="m0"><strong>Adresse:</strong> {{user.adress? user.adress : 'NR'}}</p>
        </div>
    </div>    
</div>
<div class="row">
    <div class="col-6">
        <div class="alert border ">
            <p class="m0"><strong>Ville:</strong> {{user.city? user.city : 'NR'}}</p>
        </div>
    </div>
    <div class="col-3">
        <div class="alert border ">
            <p class="m0"><strong>Pays:</strong> {{user.country? user.country : 'NR'}}</p>
        </div>
    </div>

    <div class="col-3">
        <div class="alert border ">
            <p class="m0"><strong>Code Postal:</strong> {{user.postal? user.postal : 'NR'}}</p>
        </div>
    </div>
</div>