{# empty Twig template #}
{% set manager = [{'img_src': 'https://randomuser.me/api/portraits/women/5.jpg', 'name': 'Super manager', 'role_name': 'ROLE_MANAGER', 'phone': '304'}] %}
{% set team = [{'img_src': 'https://randomuser.me/api/portraits/men/5.jpg', 'name': 'toto', 'role_name': 'ROLE_USER', 'phone': '305'  },
                {'img_src': 'https://randomuser.me/api/portraits/women/1.jpg', 'name': 'tato', 'role_name': 'ROLE_USER', 'phone': '301'},
                {'img_src': 'https://randomuser.me/api/portraits/women/3.jpg', 'name': 'tota', 'role_name': 'ROLE_USER', 'phone': '303'}
                 ] %}

{% if manager %}
    <div class="card mb-2">
        <div class="card-body">

            <p class="h4 card-title">Manager</p>
            {% for m in manager %}

                <div class="media mb-2">
                    <img class="mr-3" src="{{m.img_src}}" alt="{{m.name}}" width="48px">
                    <div class="media-body">
                        <p class="mb-0">{{m.name}}</p>
                        <p class="mb-0"><i class="fa fa-phone"></i> {{m.phone}}</p>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
{% endif %}
{% if team %}
    <div class="card mb-2">
        <div class="card-body">        
            <p class="h4 card-title">Team</p>
            {% for t in team %}            
                <div class="media mb-2">
                    <img class="mr-3" src="{{t.img_src}}" alt="{{t.name}}" width="48px">
                    <div class="media-body">
                        <p class="mb-0">{{t.name}}</p>
                        <p class="mb-0"><i class="fa fa-phone"></i> {{t.phone}}</p>
                    </div>
                </div>
            {% endfor %}        
        </div>
    </div>
{% endif %}