{# empty Twig template #}
{% include 'component/flash.html.twig' %}
<form method="POST" action="{{userId == ''? '/user/register' : '/user/update/'~userId}}">
    {% if userId is not empty %}
    <div class="row">
        <div class="col-5">
            <div class="form-group">
                <label>Société</label>
                <input type="text" class="form-control" disabled="" name="" placeholder="Company" value="{{siteTitle}}">
            </div>
        </div>
        <div class="col-1">
            <div class="form-group">
                <label>Id</label>
                <input type="text" class="form-control" disabled="" name="" placeholder="Nom" value="{{userId ? userId : ''}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Email professionnel</label>
                <input type="email" class="form-control" disabled="" name="" placeholder="Email" value="{{userId ? user.email}}">
            </div>
        </div>

    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Prénom</label>
                <input type="text" class="form-control" name="user_firstname" placeholder="Prénom" value="{{userId ? user.firstname}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Nom</label>
                <input type="text" class="form-control" name="user_lastname" placeholder="Nom" value="{{userId ? user.lastname}}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Civilité</label>
                <input type="text" class="form-control" name="user_civility" placeholder="Civilitée" value="{{userId ? user.civility}}">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="exampleInputEmail1">Date de naissance</label>
                <input type="date" class="form-control" name="user_birthdate" placeholder="Date de naissance" pattern="\d{1,2}/\d{1,2}/\d{4}" value="{{userId ? user.birthdate}}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputEmail1">Email personnel</label>
                <input type="email" class="form-control" name="user_email_perso" placeholder="Email personnel" value="{{userId ? user.emailPerso}}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Adresse</label>
                <input type="text" class="form-control" name="user_adress" placeholder="Adresse" value="{{userId ? user.adress}}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Ville</label>
                <input type="text" class="form-control" name="user_city" placeholder="Ville" value="{{userId ? user.city}}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Pays</label>
                <input type="text" class="form-control" name="user_country" placeholder="Pays" value="{{userId ? user.country}}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Code Postal</label>
                <input type="text" class="form-control" name="user_postal" placeholder="Code postal" value="{{userId ? user.postal}}">
            </div>
        </div>
    </div>

    <div class="text-center my-4">
        {% if userId is empty %}
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Mise à jour</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#createUser">Création d'un utilisateur</button>
        {% endif %}
    </div>
    <div class="clearfix"></div>
</form>