{# empty Twig template #}
{% set user = app.session.get('user') %}
{% set userId = {'userId' : user.id } %}

<div id="todolist mt-4" class="card">
    
    <div class="card-header">Todo list</div>
    <div class="card-body ">
        
        <div class="list-group-item border-0 px-0">
            <form id="formTodo" method="POST" action="">                               
                <input type="text" class="form-control" name="todo_content" id="todo_content" aria-describedby="emailHelp" placeholder="A faire..." autofocus>                    
            </form>    
        </div>
        {% if todolist is defined %}
        {% for todo in todolist %}
            <div class="list-group-item border-0 pr-0 " >
                <input type="checkbox" class="todoDone form-check-input" data-id="{{todo.todo_id}}" data-status="{{todo.todo_done}}">
                <label>{{todo.todo_content}}</label>
                <a class="todoDelete badge badge-danger  btn-danger float-right" data-id="{{todo.todo_id}}" href="">
                    <i class="fa fa-times"></i>
                </a>
            </div>
            {% endfor %}
        {% endif %}
    </div>    

</div>




<script>
    $(document).ready(function () {
        var user_id = {{user.id}};
    $('#formTodo').submit(function(e){
        e.preventDefault();
    });
    $('#todo_content').keypress(function(event) {
        if (event.keyCode === 13) {
            var content = $('#todo_content').val();
            console.log(content);
            $.ajax({
                url: '/todolist/create',
                data: 'todo_content=' + content + '&user_id=' + user_id,
                type: "POST"

            })
            .done(function (data) {
                console.log('insertion success');
                document.location.reload();
                $('#todo_content').focus();
            })
            .fail(function (request, error) {
                console.log('failed' + error);
            });
        }
    });
    $('.todoDelete').click(function(e) {
            e.preventDefault();
            var todo_id = $(this).attr('data-id');            
            console.log(todo_id);
            $.ajax({
                url: '/todolist/delete',
                data: 'todo_id=' + todo_id,
                type: "POST"

            })
            .done(function (data) {
                console.log('suppression success');                
                location.reload();
                $('#todo_content').focus();
            })
            .fail(function (request, error) {
                console.log('failed' + error);
            });
        
    });
    
    $('input[type=checkbox]').click(function(){
        //e.preventDefault();
        var status = !$(this).prop('checked');
        
        //console.log(status);
        //var status = !status;
        var todo_id = $(this).attr('data-id'); 
        var content = $('#todo_content').val();
        console.log($(this).attr('data-id'));
        console.log($('input[type=checkbox]'));
        $.ajax({
                url: '/todolist/update',
                data: 'todo_id=' + todo_id + '&todo_content=' + content + '&todo_done=' + status,
                type: "POST"

            })
            .done(function (data) {
                console.log('status success');
                //location.reload();                
                $('#todo_content').focus();
            })
            .fail(function (request, error) {
                console.log('failed' + error);
            });
    });
    
    
    
    
    
    });
    
</script>