{# template pour la gestion des utilisateurs #}
{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.css"/>
{% endblock %}

{% block content %}
    
    {% if user.role_name == 'ROLE_MANAGER' %}
        
        <style>
           div.dataTables_wrapper div.dataTables_paginate ul.pagination { justify-content: flex-start;}
           div.dataTables_wrapper div.dataTables_filter {text-align: left;}
        </style>
        <h1 class="my-4">Gestion des collaborateurs</h1>        
        <button type="button" class="btn btn-primary mb-4" data-toggle="modal" data-target="#userCreate">Création d'un collaborateur</button>
        {% include 'component/flash.html.twig' %}
        <h2 class="mb-4">Liste des collaborateurs</h2>
        <table id="tableUsers" class="table table-hover dataTable">
            <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Service</th>
                    <th scope="col">Emploi</th>
                    <th scope="col">Statut</th>
                    <th class="text-center" scope="col" width="100px">MAJ</th>      
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                    <tr>
                        <th scope="row"><img src="{{u.photo ? u.photo : '/img/user-icon.jpg'}}" alt="" class="rounded" width="32px"></th>
                        <td>{{u.lastname | upper}}</td>
                        <td>{{u.firstname}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.service_name}}</td>
                        <td>{{u.job_name}}</td>
                        <td>{{u.status == 1 ? 'Actif' : 'Inactif'}}</td>
                        <td width="100px" class="d-flex justify-content-around align-items-center">                            
                            <a href="{{path('rh-user-display')}}/{{u.id}}" data-id="{{u.id}}" class="btn btn-success btn-sm userView" data-toggle="tooltip" data-placement="top" title="Visualisation">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                            <!--button type="button" data-id="{{u.id}}" class="btn btn-primary btn-sm userUpdate" data-toggle="modal" data-target="#userUpdate">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </button-->
                        </td>                    
                    </tr>
                {% endfor %}                
            </tbody>
        </table>
            
        {# récupération de l'utilisateur pour Création #}
        {% include 'manager/manager-rh-user-create.html.twig' with settings %}       

        {# récupération de l'utilisateur pour MAJ #}
        {#% include 'manager/manager-rh-user-update.html.twig' %#}

        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/datatables.min.js"></script>
        <script>$(document).ready(function () {
                $('.userUpdate').click(function (e) {
                    e.preventDefault();
                    //console.log('cliqué');
                    //console.log($(this).attr('data-id'));
                    var user_id = $(this).attr('data-id');
                    console.log(user_id);
                    $.ajax({
                        url: '/rh/user/display',
                        data: {'user_id' : user_id },
                        method: "POST"                        
                        
                    })
                    .done(function (data) {
                        data = (JSON.parse(data));
                        console.log(data);
                        $('form#update #user_id').val(data.user_id);
                        $('form#update #user_lastname').val(data.user_lastname);
                        $('form#update #user_firstname').val(data.user_firstname);
                        $('form#update #user_birthdate').val(data.user_birthdate);
                        $('form#update #user_email_perso').val(data.user_email_perso);
                        $('form#update #user_phone_perso').val(data.user_phone_perso);
                        $('form#update #user_adress').val(data.user_adress);
                        $('form#update #user_postal').val(data.user_postal);
                        $('form#update #user_city').val(data.user_city);
                        $('form#update #user_enter_date').val(data.user_enter_date);
                        $('form#update #role_id').val(data.role_id);
                        $('form#update #user_status').val(data.user_status);
                        $('form#update #job_id').val(data.job_id);
                        $('form#update #serv_id').val(data.serv_id);
                        $('form#update #manager_id').val(data.manager_id);
                    })
                    .fail(function (request, error) {
                        console.log('failed' + error);
                    });
                    
                });
                
                $('#tableUsers').DataTable({
                    retrieve: true,
                    //paging: false,
                    "language": {
                        "sProcessing": "Traitement en cours...",
                        "sSearch": "Rechercher&nbsp;:",
                        "sLengthMenu": "Afficher _MENU_ &eacute;l&eacute;ments",
                        "sInfo": "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                        "sInfoEmpty": "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                        "sInfoFiltered": "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                        "sInfoPostFix": "",
                        "sLoadingRecords": "Chargement en cours...",
                        "sZeroRecords": "Aucun &eacute;l&eacute;ment &agrave; afficher",
                        "sEmptyTable": "Aucune donn&eacute;e disponible dans le tableau",
                        "oPaginate": {
                            "sFirst": "Premier",
                            "sPrevious": "Pr&eacute;c&eacute;dent",
                            "sNext": "Suivant",
                            "sLast": "Dernier"
                        },
                        "oAria": {
                            "sSortAscending": ": activer pour trier la colonne par ordre croissant",
                            "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                        }
                    }
                });
            });
        </script>

    {% else %}
        Page 404
    {% endif %}
{% endblock %}