{# Template formulaire comonent creation user en manager #}

<div class="modal fade" id="userUpdate" tabindex="-1" role="dialog" aria-labelledby="userUpdate" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userUpdate">Mise à jour d'un utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/rh/user/update/{{u.id}}" id="update">
                <div class="modal-body">
                    <!--div class="form-group">
                        <label>id</label>
                        <input type="text" class="form-control" id="user_id" name="user_id" value="{{u.id}}" >
                    </div-->
                    <div class="form-group" >

                        <div class="form-check-inline">
                            <input class="form-check-input ml-0" type="radio" name="user_civility" id="user_female" value="Mme" {{u.civility == "Mme"? "checked" : ''}}>
                            <label class="form-check-label" for="user_female">
                                Mme
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input ml-0" type="radio" name="user_civility" id="user_male" value="Mr" {{u.civility == "Mr"? "checked" : ''}}>
                            <label class="form-check-label" for="user_male">
                                Mr
                            </label>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" class="form-control" id="user_lastname" name="user_lastname" value="{{u.lastname}}" required>
                    </div>
                    
                    <div class="form-group">
                        <label>Prénom</label>
                        <input type="text" class="form-control" id="user_firstname" name="user_firstname"  value="{{u.firstname}}">
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label>Date de naissance</label>
                            <input type="text" class="form-control" id="user_birthdate" name="user_birthdate"  value="{{u.birthdate}}">
                        </div>

                        <div class="form-group col">
                            <label for="user_photo">Photo</label>
                            <input type="file" class="form-control-file" id="user_photo">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="user_email_perso">Email personnel</label>
                            <input type="email" class="form-control" id="user_email_perso" name="user_email_perso"  value="{{u.email_perso}}">
                        </div>

                        <div class="form-group col">
                            <label for="user_phone_perso">Téléphone personnel</label>
                            <input type="phone" class="form-control" id="user_phone_perso" name="user_phone_perso"  value="{{u.phone_perso}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="user_adress">Adresse</label>
                        <textarea class="form-control" id="user_adress" name="user_adress" row="3" >{{u.adress}}</textarea>
                    </div>
                    <div class="row">
                    <div class="form-group col col-sm-4">
                        <label for="user_postal">Code postal</label>
                        <input type="text" class="form-control" id="user_postal" name="user_postal"  value="{{u.postal}}">
                    </div>
                    <div class="form-group col col-sm-8">
                        <label for="user_city">Ville</label>
                        <input type="text" class="form-control" id="user_city" name="user_city"  value="{{u.city}}">
                    </div>
                    </div>
                    <hr/>

                    <div class="row">
                        <div class="form-group col">
                            <label for="user_city">Date d'entrée</label>
                            <input type="text" class="form-control" id="user_enter_date" name="user_enter_date"  value="{{u.enter_date}}">
                        </div>                        


                        <div class="form-group col">
                            <label>Type de contrat</label>
                            <select class="form-control" id="contract_id" name="contract_id" required>
                                <option value="">Choix du contrat</option>
                                {% for r in settings.contracts %}
                                    <option value="{{r.contract_id}}" {{r.contract_id == u.contract? "selected":""}}>{{r.contract_name}}</option>
                                {% endfor %}

                            </select>                                
                        </div>
                    </div>
                    <div class="row">               
                        <div class="form-group col">
                            <label>Emploi</label>
                            <select class="form-control" id="job_id" name="job_id" required>
                                <option value="">choix du métier</option>
                                {% for r in settings.jobs %}
                                    <option value="{{r.job_id}}" {{r.job_id == u.job? "selected":""}}>{{r.job_name}}</option>
                                {% endfor %}    

                            </select>                                
                        </div>  
                    </div> 

                    <div class="row">
                        <div class="form-group col">
                            <label>Service</label>
                            <select class="form-control" id="serv_id" name="serv_id" required>
                                <option value="">Choix du service</option>
                                {% for r in settings.services %}
                                    <option value="{{r.serv_id}}" {{r.serv_id == u.service? "selected":""}}>{{r.serv_name}}</option>
                                {% endfor %}                                  
                            </select>                                
                        </div>

                        <div class="form-group col">
                            <label>Manager</label>
                            <select class="form-control" id="manager_id" name="manager_id" required>
                                <option value="">Choix du Manager</option>
                                {% for r in settings.managers %}
                                    <option value="{{r.user_id}}" {{r.user_id == u.manager? "selected":""}}>{{r.user_lastname}}&nbsp;{{r.user_firstname}}</option>
                                {% endfor %}

                            </select>                                
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label>Role</label>
                            <select class="form-control" id="role_id" name="role_id" required>
                                <option value="">Choix du role</option>
                                {% for r in settings.roles %}
                                    <option value="{{r.role_id}}" {{r.role_id == u.role? "selected":""}}>{{r.role_name}}</option>
                                {% endfor %}                                   
                            </select>                                
                        </div>

                        <div class="form-group col">
                            <label>Status</label>
                            <select class="form-control" id="user_status" name="user_status">
                                <option value="">Choix du status</option>
                                <option value="1" {{ u.status == 1? "selected":""}}>Actif</option>
                                <option value="0" {{ u.status == 0? "selected":""}}>Inactif</option>

                            </select>                                
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Mise à jour</button>
                </div>
            </form>
        </div>
    </div>
</div>
