{# empty Twig template #}
{# voir app.php et routes.php pour la définition du path user #}

{% macro sidebar(path, icon, title, color, userId)%}    
<li class="nav-item">
    {% if path == '/user' %}
    <a class="sidebar-link px-3 py-2 d-block" href="{{path}}/{{userId}}" default>
    {% else %}
    <a class="sidebar-link px-3 py-2 d-block" href="{{path}}" default>
    {% endif %}
        <i class="fa fa-fw {{icon}} {{color}}"></i>
        <span class="title pl-3">{{title}}</span>
    </a>
</li>       
{% endmacro %}

