{# empty Twig template #}

{% macro notifMenu(notif, events)%}
    <div class="dropdown show">
        <span class="badge badge-danger">{{notif.nb}}</span>
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa {{notif.icon}}"></i>
        </a>

        <ul class="dropdown-menu notification" aria-labelledby="dropdownMenuLink">
            <!-- start header -->
            <li class="py-1 px-4 my-2 d-flex align-items-center">
                <i class="fa fa-bell"></i>
                <span class="pl-2">{{notif.title}}</span>                        
            </li>
            <!-- end header -->
            {% for event in events%}
                <li class="dropdown-divider my-0"></li>            
                <li class="">
                    <a class="dropdown-item d-flex align-items-center py-2" href="#">
                        <div class="photos mr-2">
                            <img class="rounded-circle" src="{{event.img_src}}" alt="{{event.img_alt}}" width="45px">
                        </div>
                        <div class="info ">
                            <p class="h6 mb-0">{{event.content}}</p>
                            <p class="small mb-0">{{event.time}}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
            <li class="py-1 px-4 my-2 d-flex justify-content-end align-items-center">                
                <a href="" class="">{{notif.footer}}<i class="ml-2 fa fa-caret-right" aria-hidden="true"></i></a>
                                
            </li>
        </ul>
    </div>     
{% endmacro %}
