{# empty Twig template #}
{% macro profileMenu(name, img_src, userId)%}
    <div class="dropdown show">        
        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="w-2r bdrs-50p rounded-circle" src="{{img_src? img_src : '/img/user-icon.jpg'}}" alt="{{name}}" width="32px">
            <span class="small">{{name}}</span>
        </a>

        <ul class="dropdown-menu notification" aria-labelledby="dropdownMenuLink">            
            {#% for event in events%#}
                <li class="dropdown-divider my-0"></li>                          
                <li class="">
                    <a class="dropdown-item d-flex align-items-center py-2" href="/user/{{userId}}">
                        <i class="fa fa-user fa-fw" aria-hidden="true"></i>
                        <span class="pl-2">Profile</span>
                    </a>
                </li>                
                <li class="dropdown-divider my-0"></li>  
                <li class="">
                    <a class="dropdown-item d-flex align-items-center py-2" href="{{path('logout')}}">
                        <i class="fa fa-power-off fa-fw" aria-hidden="true"></i>
                        <span class="pl-2">Logout</span>
                    </a>
                </li>
            {#% endfor %#}            
        </ul>
    </div>     
{% endmacro %}
