{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.css"/>
    <link rel="stylesheet" media="print" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.print.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.js"></script>    
    <script type="text/javascript" src="{{asset('js/fr.js')}}"></script>

{% endblock %}


{% block content %} 
    {% include 'component/flash.html.twig' %}
    <div id="calendar" class="mt-5 mr-5"></div>


    <!-- Modal affichage form event -->
    <div class="modal fade" id="formEvent" tabindex="-1" role="dialog" aria-labelledby="modalFormBody" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="createEvent" class="form-horizontal" action="" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalFormBody">Création d'un évènement</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col control-label" for="cal_title">Titre</label>  
                            <div class="col">
                                <input id="cal_title" name="cal_title" type="text" placeholder="" class="form-control input-md" required>

                            </div>
                        </div>                            
                        <!-- Textarea -->
                        <div class="form-group">
                            <label class="col control-label" for="cal_descrip">Description</label>
                            <div class="col">                     
                                <textarea class="form-control" id="cal_descrip" name="cal_descrip"></textarea>
                            </div>
                        </div>                    

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="saveEvent" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal affichage event -->
    <div class="modal fade" id="displayEvent" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modalBody" class="modal-body">
                    <p id="modalBodyDesc"></p>
                    <p>Début:&nbsp;
                        <span id="modalBodyStart"></span>
                        &nbsp;<br/>Fin:&nbsp;
                        <span id="modalBodyEnd"></span>
                    </p>
                    
                </div>
                <div class="modal-footer">
                    <button  type="button" id="deleteConf" class="btn btn-danger">Veuillez confirmer la suppression</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button  type="button" id="deleteEvent" class="btn btn-primary">Supprimer</button>
                    
                </div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function () {    
    var user_id = {{user.id}};
    var events = {{calendar | raw}};
    var mycal = $('#calendar').fullCalendar({
        aspectRatio: 2,
        locale: 'fr',
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        defaultView: 'agendaWeek',        
        eventClick: function (event, jsEvent, view) {            
            
            $('#modalTitle').html(event.title);
            $('#modalBodyDesc').html(event.descrip);
            $('#modalBodyStart').html(moment(event.start._i).format('DD/MM/YY - HH:mm'));
            $('#modalBodyEnd').html(moment(event.end._i).format('DD/MM/YY - HH:mm'));
            $('#deleteConf').hide();
            $('#displayEvent').modal();
            $('#deleteEvent').click(function (e) {
                e.preventDefault();
                $('#deleteEvent').hide();
                $('#deleteConf').show();
                $('#deleteConf').click(function () {
                    $('#displayEvent').modal('hide');
                    $.ajax({
                            url: '/calendar/delete',
                            data: 'cal_id=' + event.id,
                            type: "POST"

                        })
                        .done(function (data) {
                            console.log('delete success');
                            location.reload();
                        })
                        .fail(function (request, error) {
                            console.log('failed' + error);
                        });
                    
                });
            });
        },
        //navLinks: true, // can click day/week names to navigate views
        selectable: true, // Allows a user to highlight multiple days or timeslots by clicking and dragging.
        selectHelper: true, // Whether to draw a "placeholder" event while the user is dragging.
        select: function (start, end, allDay) {
            //console.log(start.format());
            //console.log(end.format());
            var start = moment(start).format('YYYY-MM-DD HH:mm:ss');
            var end = moment(end).format('YYYY-MM-DD HH:mm:ss');
            //console.log('start '+start);
            //console.log('end '+end); 
            $("#formEvent").modal();
            $("#createEvent").submit(function (e) {
                e.preventDefault();
                $("#formEvent").modal('hide');
                //console.log('clique button');
                var title = $('#cal_title').val();
                var descrip = $('#cal_descrip').val();
                // $.fullCalendar.formatDate() depréciée;                        

                if (title) {

                    $.ajax({
                            url: '/calendar/create',
                            data: 'cal_title=' + title + '&cal_start=' + start + '&cal_end=' + end + '&cal_descrip=' + descrip + '&user_id=' + user_id,
                            type: "POST"

                        })
                        .done(function (data) {
                            console.log('Added Successfully');
                        })
                        .fail(function (request, error) {
                            console.log('failed' + error);
                        });
                    console.log("start " + start + " end " + end);
                    $('#calendar').fullCalendar('renderEvent', {
                            title: title,
                            start: start,
                            end: end,
                            allDay: allDay

                        },
                        true
                    );
                }
                $('#calendar').fullCalendar('unselect');
            });
        },
        editable: true, // rend l'event clickable
        eventLimit: true, // allow "more" link when too many events
        events: events,
        eventDrop: function (event, delta) {
            //console.log('event start' + event.start);
            console.log(event.id);
            var start = moment(event.start).format('YYYY-MM-DD HH:mm:ss');
            console.log('moment start ' + start);
            var end = moment(event.end).format('YYYY-MM-DD HH:mm:ss');
            $.ajax({
                    url: '/calendar/update',
                    data: 'cal_id=' + event.id + '&cal_title=' + event.title + '&cal_start=' + start + '&cal_end=' + end + '&cal_descrip=' + event.descrip + '&user_id=' + user_id,
                    type: "POST"
                })
                .done(function (data) {
                    console.log("Updated Successfully");
                })
                .fail(function (reqest, error) {
                    console.log('failed' + error);
                });
        },
        eventResize: function (event) {
            var start = moment(event.start).format('YYYY-MM-DD HH:mm:ss');
            var end = moment(event.end).format('YYYY-MM-DD HH:mm:ss');
            $.ajax({
                    url: '/calendar/update',
                    data: 'cal_id=' + event.id + '&cal_title=' + event.title + '&cal_start=' + start + '&cal_end=' + end + '&cal_descrip=' + event.descrip + '&user_id=' + user_id,
                    type: "POST"
                })
                .done(function (data) {
                    console.log("Updated Successfully");
                })
                .fail(function (reqest, error) {
                    console.log('failed' + error);
                });
        }

    });
    
});
        
    </script>
    <script>
        //requete ajax pour la création d'évènements

    </script>

{% endblock %}