{# empty Twig template #}

{% extends 'base.html.twig' %}

{% block content %}
    <div class="chat">
        <div class="row no-gutters">
            <div class="col-md-3 border">
                {# boucle sur les utilisateurs #}
                <ul class="list-unstyled">
                    <li class="media pl-3 py-3 border-bottom">                        
                        <img class="mr-2 rounded-circle" src="https://randomuser.me/api/portraits/thumb/men/83.jpg" alt="">
                        <div class="media-body">
                            <span>Name</span><br>
                            <span class="small">En ligne</span>                        
                        </div>                                    
                    </li>
                    <li class="media pl-3 py-3 border-bottom">                        
                        <img class="mr-2 rounded-circle" src="https://randomuser.me/api/portraits/thumb/women/84.jpg" alt="">
                        <div class="media-body">
                            <span>Name</span><br>
                            <span class="small">En ligne</span>                        
                        </div>                                    
                    </li>  
                    <li class="media pl-3 py-3 border-bottom">                        
                        <img class="mr-2 rounded-circle" src="https://randomuser.me/api/portraits/thumb/men/85.jpg" alt="">
                        <div class="media-body">
                            <span>Name</span><br>
                            <span class="small">En ligne</span>                        
                        </div>                                    
                    </li>  
                    <li class="media pl-3 py-3 border-bottom">                        
                        <img class="mr-2 rounded-circle" src="https://randomuser.me/api/portraits/thumb/women/86.jpg" alt="">
                        <div class="media-body">
                            <span>Name</span><br>
                            <span class="small">En ligne</span>                        
                        </div>                                    
                    </li>  
                </ul>
            </div>
            <div class="col-md-9">
                {# boucle sur les conversations #}
                <div class="">

                    <div class="media pl-3 py-3 border border-left-0">                        
                        <img class="mr-2 rounded-circle" src="https://randomuser.me/api/portraits/thumb/women/86.jpg" alt="">
                        <div class="media-body">
                            <span>Name</span><br>
                            <span class="small">En ligne</span>                        
                        </div> 
                    </div>

                    <div class="chat-message bg-chat p-3">
                        <div class="msg-system my-3 text-center"><span class="d-block-inline px-3 py-1 rounded">Hier</span></div>
                        <div class="msg-in my-3 px-3  position-relative">
                            <span class="tail"></span>
                            <span class="tail tail-highlight"></span>
                            <div class="msg d-inline-block rounded p-3 position-relative">Lorem ipsum dolor sit amet, consectetur.<span class="msg-time">14:15</span></div>                            
                        </div>
                        <div class="msg-out my-3 px-3 text-right position-relative">                            
                            <div class="msg d-inline-block rounded p-3 position-relative">Lorem ipsum dolor sit amet, consectetur adipisicing.<span class="msg-time">14:16</span></div>
                            <span class="tail"></span>
                            <span class="tail tail-highlight"></span>
                        </div>
                        <div class="msg-system my-3 text-center"><span class="d-block-inline px-3 py-1 rounded">Aujourd'hui</span></div>
                        <div class="msg-in my-3 px-3  position-relative">
                            <span class="tail"></span>
                            <span class="tail tail-highlight"></span>
                            <div class="msg d-inline-block rounded p-3 position-relative">Lorem ipsum dolor sit amet.<span class="msg-time">8:03</span></div>                            
                        </div>
                        <div class="msg-out my-3 px-3 text-right position-relative">                            
                            <div class="msg d-inline-block rounded p-3 position-relative">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, repellat!<span class="msg-time">8:05</span></div>
                            <span class="tail"></span>
                            <span class="tail tail-highlight"></span>
                        </div>
                        

                    </div>
                    <div class="border-bottom">
                        <form class="form no-gutters d-flex mx-3 my-2 ">
                            <div class="form-group m0 col">                                
                                <input type="text" class="form-control" id="comment" name="comment" placeholder="...">

                            </div>
                            <div class="form-group m0">
                                <button class="btn btn-primary"><i class="fa fa-paper-plane"></i>
                                </button>
                            </div>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock content %}