{# dashboard template #}

{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.css"/>
    <link rel="stylesheet" media="print" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.print.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.0/fullcalendar.min.js"></script>    
    <script type="text/javascript" src="{{asset('js/fr.js')}}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    

{% endblock %}

{% block content %}   
    {#{dump(user.id)}}
    {{dump(sidebarLinks)}#}
    <div class="main container-fluid">
        <div class="row stats mt-2 ">
            <div class="col-12 col-lg-6">
                <div class="list-group-item">
                    <canvas id="myChart1"></canvas>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="list-group-item">
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
            
        </div>
        <div class="row stats mt-2 ">
            <div class="col-12 col-md-4">
                <div class="card">
                <div class="card-body text-center">
                    <p class="card-title font-weight-bold">Budget Formation restant</p>
                    <div class="card-text d-flex justify-content-center align-items-center">
                        
                        <p class="h5 mr-4">25.000</p>
                        <i class="h3 fa fa-euro " aria-hidden="true"></i>
                    </div>        
                </div>
            </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                <div class="card-body text-center">
                    <p class="card-title font-weight-bold">Heures Formation restantes</p>
                    <div class="card-text d-flex justify-content-center align-items-center">
                        <p class="h5 mr-4">200</p>
                        <i class="h3 fa fa-hourglass-half" aria-hidden="true"></i>
                        
                    </div>        
                </div>
            </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card">
                <div class="card-body text-center">
                    <p class="card-title font-weight-bold">Formation Indice de Satisfaction </p>
                    <div class="card-text d-flex justify-content-center align-items-center">
                        <p class="h5 mr-4">75</p>
                        <i class="h3 fa fa-percent" aria-hidden="true"></i>
                        
                    </div>        
                </div>
            </div>
            </div>
        </div>
        
        <div class="row mt-2"> 

            <div class="col-12 col-md-6 calendar">
                {% block calendar %}
                    <div class="card">
                        <div class="card-header">Calendrier</div>
                        <div class="card-body">
                            <div id="calendar" class="">
                                
                            </div>                                
                        </div>                            
                    </div>
                    
                {% endblock calendar %}
            </div>

            
            <div class="col-12 col-md-6 todo-list">    
                {% block todo %}
                    {% include('component/todo-list-user.html.twig') %}
                {% endblock todo %}
            </div>
        </div>            
    </div>
            <script type="text/javascript" src="{{asset('js/dashboard-stats-rh.js')}}"></script>
    <script>
        
    $(document).ready(function() {

    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'listDay,listWeek'
      },

      // customize the button names,
      // otherwise they'd all just say "list"
      views: {
        listDay: { buttonText: 'list day' },
        listWeek: { buttonText: 'list week' }
      },

      defaultView: 'listWeek',
      defaultDate: '2018-01-29',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      events: [
        {
          title: 'All Day Event',
          start: '2018-12-29'
        },
        {
          title: 'Long Event',
          start: '2018-01-31',
          end: '2018-01-31'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2018-01-29T16:00:00'
        },
        {
          id: 999,
          title: 'Repeating Event',
          start: '2018-02-01T16:00:00'
        },
        {
          title: 'Conference',
          start: '2018-01-30',
          end: '2018-01-30'
        },
        {
          title: 'Meeting',
          start: '2018-01-30T10:30:00',
          end: '2018-01-30T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2018-01-29T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2018-01-12T14:30:00'
        },
        {
          title: 'Happy Hour',
          start: '2018-01-29T17:30:00'
        },
        {
          title: 'Dinner',
          start: '2018-01-12T20:00:00'
        },
        {
          title: 'Birthday Party',
          start: '2018-01-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2018-01-28'
        }
      ]
    });

  });
    </script>
{% endblock content %}