{# empty Twig template #}
{% extends 'base.html.twig' %}

{% set linksNav = [ {'icon':'fa-envelope-o', 'text': 'Entrant', 'label': '50', 'color':'primary'},
                    {'icon':'fa-paper-plane-o', 'text': 'Envoyés', 'label': '12', 'color':'success'},
                    {'icon':'fa-star-o', 'text': 'Important', 'label': '3', 'color':'info'},
                    {'icon':'fa-file-o', 'text': 'Brouillons', 'label': '5', 'color':'warning'},
                    {'icon':'fa-fire', 'text': 'Indésirables', 'label': '1', 'color':'danger'},
                    {'icon':'fa-trash-o', 'text': 'Corbeille', 'label': '25', 'color':'secondary'}] %}

{% block content %}
    
    
        <ul class="list-unstyled p1 border rounded mb-2 row no-gutters my-2">
            {% for l in linksNav %}
                <li class="d-inline-block col-md-2 ">
                    <a class="text-{{l.color}}" href=""><i class="fa  {{l.icon}} fa-fw mr-2"></i>{{l.text}}</a>
                    <span class="badge badge-pill badge-{{l.color}}">{{l.label}}</span>
                    

                </li>
            {% endfor %}
        </ul>
    
    <div class="row no-gutters">
        <div class="col-md-4 mt-2">

            <input type="search" class="form-control" id="search" placeholder="Rechercher">


            <ul class="list-group mt-2" style="height: 75vh; overflow: scroll; overflow-anchor: none;">
                <li class="list-group-item active">Courrier entrants</li>
                    {% for i in 1..15 %}
                    <li class="list-group-item">                
                        <div class="form-check form-check-inline pl-2 m0" style="width: 100%;">
                            <input class="form-check-input" type="checkbox" class="form-control" id="check">
                            <p class="d-inline">John Doe</p>
                            <p class="d-inline-block float-right small text-secondary m0">moin de {{i}}mn</p>
                        </div>
                        <p class="h5">Titre de l'email...</p>
                        <p class="mb0">Début du corps de l'email .......</p></li>
                    {% endfor %}
            </ul>


        </div>    
        <div class="col-md-8 pl-2 mt-2">
            <div class="text-center mb-2">
            <a href="" class="btn btn-info ">Nouveau message</a>
            <a href="" class="btn btn-danger ">Supprimer</a>
            <a href="" class="btn btn-secondary ">Archiver</a>
            <a href="" class="btn btn-warning ">Spam</a>
            
            </div>
            <div class="d-flex align-items-center border rounded px-2 py-3">
                <img class="rounded-circle " src="https://randomuser.me/api/portraits/men/11.jpg" alt="" width="48px" height="48px">
                <div class="ml-2">
                    <p class="small text-secondary m0">Jan, 22 2018</p>
                    <p class="h5 m0">John Doe</p>
                    <p class="m0">From: email@gmail.com</p>
                </div>
                <a class="ml-auto" href="">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x text-success"></i>
                        <i class="fa fa-reply fa-stack-1x fa-inverse "></i>
                    </span>
                </a>
            </div>
            <div class="border rounded px-2 py-3 mt-2">
                <p class="h4">Le titre sera ici</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae similique quis veniam adipisci saepe nostrum fugit at quasi error perspiciatis!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, inventore, impedit consequatur commodi necessitatibus deleniti molestiae magnam voluptates facilis porro alias praesentium cupiditate numquam quod cum quibusdam perspiciatis omnis nisi vero eveniet quam earum quas.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae similique quis veniam adipisci saepe nostrum fugit at quasi error perspiciatis!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, inventore, impedit consequatur commodi necessitatibus deleniti molestiae magnam voluptates facilis porro alias praesentium cupiditate numquam quod cum quibusdam perspiciatis omnis nisi vero eveniet quam earum quas.</p>
            </div>

        </div>
    </div>

{% endblock %}