{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

{% endblock %}

{% block content %}
    
    {% if user.role_name == 'ROLE_MANAGER' %}
    <p class="h4 text-center border rounded my-2 p-2">Absentéisme</p>
    <div class="row ">
        <div class="col-md-6"><canvas id="myChart1"></canvas></div>
        <div class="col-md-6"><canvas id="myChart2"></canvas></div>        
    </div>
    <p class="h4 text-center border rounded my-2 p-2">Formations</p>
    <div class="row ">
        <div class="col-md-6"><canvas id="myChart3"></canvas></div>
        <div class="col-md-6"><canvas id="myChart4"></canvas></div>        
    </div>
    <p class="h4 text-center border rounded my-2 p-2">Congés</p>
    <div class="row ">
        <div class="col-md-6"><canvas id="myChart5"></canvas></div>
        <div class="col-md-6"><canvas id="myChart6"></canvas></div>        
    </div>
    <script src="{{asset('js/stats-rh.js')}}"></script>
    {% elseif user.role_name == 'ROLE_ADMIN' %}
    <script src="{{asset('js/stats-admin.js')}}"></script>
    {% elseif user.role_name == 'ROLE_USER' %}
    <script src="{{asset('js/stats-user.js')}}"></script>    
    {% endif %}
{% endblock %}