{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block content %}
    

    {# http://demos.creative-tim.com/paper-dashboard/user.html?# #}
    <div class="">
        <div class="row mt-2">
            <div class="col-sm-6 col-md-5 col-lg-4">
                {# user card #}
                <div class="card mb-2">                    
                    <img class="" src="{{user.photo}}" alt="{{user.name}}" width="50%">
                    <div class="card-body">                            
                        <p class="font-weight-bold card-title">{{user.name}}</p>
                        <p class="m0">Service: {{user.service_name}} </p>
                        <p class="m0">Email: <a href="#">{{user.email}}</a></p>
                        <p class="m0">Téléphone: {{user.phone}}</p>                        
                    </div>
                </div>
                {# end user card #}
                {# faire la liste des collaborateurs du service #}                
                {% include 'component/display-team.html.twig' %}    
            </div>
            <div class="col-lg-8 col-md-7">
                <!--div class="card p-3 mb-2">                    
                    <div class="content">
                        {# formulaire user avec user id connu #}
                        {#% include 'component/form-user.html.twig' with {'userId': user.id } %#}
                        
                    </div>
                </div-->
                <div class="card mt">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#profil" role="tab">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#social" role="tab">Social</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#formation" role="tab">Formation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#reglementation" role="tab">Réglementation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#qualite" role="tab">Qualité</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content p-3">
                        <div class="tab-pane active" id="profil" role="tabpanel">                            
                            {% include 'component/display-user.html.twig' with {'userId': user.id, 'pageUser': true } %}
                        </div>
                        <div class="tab-pane" id="social" role="tabpanel">Contient la communication sociale</div>
                        <div class="tab-pane" id="formation" role="tabpanel">
                            <p>Contient la liste des formations suivies</p>
                            {% include 'component/display-user-training.html.twig' %}
                        </div>
                        <div class="tab-pane" id="reglementation" role="tabpanel">Contient des informations sur la réglementation interne</div>
                        <div class="tab-pane" id="qualite" role="tabpanel">Contient les procédures et documents qualité</div>
                    </div>
                </div>
                <div class="modal fade" tabindex="-1" role="dialog" id="createUser" aria-labelledby="formCreate" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <p class="h4 modal-title" id="formCreate">Enregistrement d'un utilisateur</p>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {% include 'component/form-user.html.twig' with {'userId': '' } %}
                            </div>                            
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    {# a ajouter aux champs upload photo, date anniversaire #}




{% endblock %}