{# menu #}

{# différents tableaux pour faire des tests qui disparraissent en fonction des tables SQL créée #}
{% set messages = [{ 'title': 'Notifications', 'icon': 'fa-bell', 'nb': '3', 'footer': 'View All Messages' }] %}
{% set m_events = [{'img_src': 'https://randomuser.me/api/portraits/men/10.jpg', 'img_alt': 'toto', 'content': 'Jonhn Doe like your post', 'time': '5 mins ago'  },
                 {'img_src': 'https://randomuser.me/api/portraits/men/1.jpg', 'img_alt': 'toto', 'content': 'Morris Doe like your post', 'time': '5 mins ago'},
                 {'img_src': 'https://randomuser.me/api/portraits/women/2.jpg', 'img_alt': 'toto', 'content': 'Jane Doe like your post', 'time': '5 mins ago'} ] %}
{% set emails = [{ 'title': 'Emails', 'icon': 'fa-envelope', 'nb': '3', 'footer': 'View All Emails' }] %}
{% set m_emails = [{'img_src': 'https://randomuser.me/api/portraits/men/5.jpg', 'img_alt': 'toto', 'content': 'Want to create your own customized data generator for your app...', 'time': '5 mins ago'  },
                 {'img_src': 'https://randomuser.me/api/portraits/women/1.jpg', 'img_alt': 'toto', 'content': 'Want to create your own customized data generator for your app...', 'time': '5 mins ago'},
                 {'img_src': 'https://randomuser.me/api/portraits/women/3.jpg', 'img_alt': 'toto', 'content': 'Want to create your own customized data generator for your app...', 'time': '5 mins ago'} ] %}

{#% set user = {'name': 'toto', 'img_src': 'https://randomuser.me/api/portraits/men/4.jpg'} %#}
<!-- top bar menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-navbar navbar-menu justify-content-between" style="background: linear-gradient(135deg,#eaf2ff 0,#ffffff 100%);">
    
    <a href="javascript:void(0);" id="sideMin" class=""><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
    <a href="javascript:void(0);" id="sideMax" class="d-none"><i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i></a>
    <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button-->
    <div class="" id="navbarSupportedContent">
        <div class="nav-right d-flex justify-content-end align-items-center">
            {# macro pour affichage des notification de messages #}
            {% import 'macro/macro-notif-menu.html.twig' as item %}
            {% for message in messages %}
                {{ item.notifMenu(message, m_events) }}
            {% endfor %} 
            {# macro pour affichage des notification de email #}
            {% import 'macro/macro-notif-menu.html.twig' as item %}
            {% for email in emails %}
                {{ item.notifMenu(email, m_emails) }}
            {% endfor %}
            {% if user %}                
            {% import 'macro/macro-profile-menu.html.twig' as item %}            
                {{item.profileMenu(user.name, user.photo, userId)}}            
            {% else %}
                toto
            {% endif %}
        </div>


  
            
           
</nav>

