{# Sidebar Menu #}


<!-- left sidebar -->
<div class="sidebar">
    <div class="sidebar-inner">
        <!-- sidebar header -->
        <div class="sidebar-logo">

            <div class="">
                <a class="" href="{{path('dashboard')}}" class="td-n">

                    <div class="logo py-1" style="background: linear-gradient(135deg,#ffffff 0,#eaf2ff 100%);">
                        <img class="imgLogo" src="{{asset ('images/logo.png') }}" alt="" width="56px">
                    </div>
                    <div class="title mt-3">
                        <p class="espace h5 font-weight-bold">Dashboard Pro</p>
                    </div>
                </a>
                <div class="d-block d-sm-none">
                    <a href="" class="">
                        <i class="fa fa-arrow-circle-o-left"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- end sidebar header -->
        <!-- sidebar menu -->
        <ul class="sidebar-menu scrollable list-reset">
            {# sidebarLink est une variable global voir app.php #}
            {% set userId = user.id %}

            {% import 'macro/macro-sidebar.html.twig' as item %}
            {% for data in sidebarLinks %}
                {{ item.sidebar(data.path, data.icon, data.title, data.color, userId) }}
            {% endfor %}

        </ul>
        <!-- sidebar admin -->
        {% if user.role_name == 'ROLE_ADMIN' %}
            <div class="text-center font-weight-bold text-uppercase">
                <p class="espace">Espace Admin</p>
            </div>
            <ul class="sidebar-menu scrollable list-reset">
                {% set userId = user.id %}
                {% import 'macro/macro-sidebar.html.twig' as item %}
                {% for data in sidebarLinksAdmin %}
                    {{ item.sidebar(data.path, data.icon, data.title, data.color, userId) }}
                {% endfor %}
            </ul>
        {% endif %}
        {% if user.role_name == 'ROLE_MANAGER' %}
            <div class="text-center font-weight-bold text-uppercase">
                <p class="espace">Espace Manager</p>
            </div>
            <ul class="sidebar-menu scrollable list-reset">
                {% set userId = user.id %}
                {% import 'macro/macro-sidebar.html.twig' as item %}
                {% for data in sidebarLinksRh %}
                    {{ item.sidebar(data.path, data.icon, data.title, data.color, userId) }}
                {% endfor %}
            </ul>
            <div class="text-center font-weight-bold text-uppercase">
                <p class="espace">Paramètres</p>
            </div>
            <ul class="sidebar-menu scrollable list-reset">
                {% set userId = user.id %}
                {% import 'macro/macro-sidebar.html.twig' as item %}
                {% for data in sidebarLinksRhSettings %}
                    {{ item.sidebar(data.path, data.icon, data.title, data.color, userId) }}
                {% endfor %}
            </ul>
            <!--ul class="sidebar-menu scrollable list-reset ">
                <li class="nav-item">
                    <a class="sidebar-link px-3 py-2 d-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        {{ sidebarLinksRhSettingsTitle}}<i class="fa fa-angle-down pl-2" aria-hidden="true"></i>
                    </a>
                </li>
                <ul class="collapse list-reset" id="collapseExample">
                    <li class="nav-item">
                        {% for data in  sidebarLinksRhSettings %}
                            <a class="sidebar-link px-3 py-2 d-block" href="{{data.path}}">
                                <i class="fa fa-fw {{data.icon}} {{data.color}}"></i>
                                <span class="title pl-3">{{data.title}}</span>
                            </a>
                        {% endfor %}
                    </li>
                </ul>
            </ul-->

        {% endif %}
        <!-- end sidebar menu -->
    </div>
</div>